<!DOCTYPE html>
<html>
  <head>
    <title>Add Task</title>
    <%- include('../layout/styles') %>
  </head>
  <body>
    <header>
      <h1>Task Detail</h1>
      <%- include('../layout/nav') %>
    </header>
    <main>
      <h2><%= task.title %></h2>
      <form method="POST" action="/tasks/<%= task.id %>?_method=DELETE">
        <button>Delete Task</button>
      </form>
      <p><%= task.description %></p>
      <p>Contact: <%= task.contact %></p>
      <p>From Ctor: <%= task.isFromConstructor %></p>
      <h2 class="view-title">Update Task</h2>
      <form action="/tasks/<%= task.id %>?_method=PUT" method="post">
        <input type="text" name="title" value="<%- task.title %>" placeholder="Task Name">
        <textarea name="description" placeholder="Description of the task" cols="30"rows="10"><%- task.description %></textarea>
        <input type="text" name="category" value="<%- task.category %>" placeholder="Category">
        <input type="text" name="contact" value="<%- task.contact %>" placeholder="Contact Person">
        <input type="text" name="status" value="<%- task.status %>" placeholder="Completion Status">
        <button type="submit">Update This Task</button>
      </form>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>